<%- include("header"); -%>
<h1>This is the about page</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed quidem dicta vel maiores? Id, quisquam molestiae iste doloribus deleniti similique assumenda error optio voluptates omnis, molestias praesentium quos voluptate officia!</p>
<%- include("footer"); -%>